<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Lazyload</label>
    <label lang="en">Lazyload</label>

    <version>1.1.0</version>
    <copyright>(c) by Stefan Poensgen</copyright>
    <license>MIT</license>
    <link>https://stefanpoensgen.de</link>
    <author>Stefan Poensgen</author>
    <compatibility minVersion="5.3.0"/>

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung</changes>
        <changes lang="en">First release</changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">FroshWebP support. Update lazysizes 5.1.0</changes>
        <changes lang="en">Add FroshWebP support. Update lazysizes 5.1.0</changes>
    </changelog>

    <changelog version="1.1.1">
        <changes lang="en">
            fix typo (data-rcset vs. data-srcset)
            prevent broken image symbol while using alt attribute (see https://github.com/aFarkas/lazysizes#broken-image-symbol)
            add native lazyloading for browsers that support it (see https://github.com/aFarkas/lazysizes/tree/master/plugins/native-loading)
            add plugins ls.parent-fit, ls.object-fit, ls.bgset, ls.attrchange
        </changes>
    </changelog>
</plugin>
